@tailwind base;
@tailwind components;
@tailwind utilities;


.boringBasicsTransition-enter {
    opacity: 0;
    transform: translate(-32vw, 0);
}

.boringBasicsTransition-enter-active {
    opacity:1;
    transform: translate(0vw, 0);
    transition: all 300ms 100ms ease-in-out;

    
}

.boringBasicsTransition-enter-done {
    
    /* transform: translate(0vw, 0); */
}

.boringBasicsTransition-exit {
    opacity: 1;
}

.boringBasicsTransition-exit-active {
    opacity: 0;
    transform: translate(-32vw, 0);
    transition: all 300ms 0ms ease-in-out;
}





.encounteredProblemsTransition-enter {
    opacity: 0;
    transform: translate(32vw, 0);
    /* transform: translate(48vw, 0); */
}

.encounteredProblemsTransition-enter-active {
    opacity:1;
    transform: translate(0vw, 0);
    transition: all 300ms 0ms ease-in-out;

    
    /* transform: translate(-48vw, 0);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out; */
}

.encounteredProblemsTransition-exit {
    opacity: 1;
    /* transform: translate(12vw, 0);
    transition-duration: 300ms; */
}

.encounteredProblemsTransition-exit-active {
    opacity: 0;
    transform: translate(32vw, 0);
    transition: all 300ms 0ms ease-in-out;
}




@layer components{









    .boringBasics {
        @apply absolute;
    }


    
    .encounteredProblems {
        @apply absolute;
    }

}