@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --baseDelay: 60ms;
    --transitionDuration: 100ms;
    --transitionGap: 60ms
}

.drop-down-animation-0-enter{
    opacity: 0;
}
.drop-down-animation-0-enter-active{
    opacity: 1;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 0) ease-in;
}

.drop-down-animation-0-exit{
    opacity: 1;
}
.drop-down-animation-0-exit-active{
    opacity: 0;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 0) ease-in;
}

.drop-down-animation-1-enter{
    opacity: 0;
}
.drop-down-animation-1-enter-active{
    opacity: 1;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 1) ease-in;
}
.drop-down-animation-1-exit{
    opacity: 1;
}
.drop-down-animation-1-exit-active{
    opacity: 0;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 1) ease-in;
}

.drop-down-animation-2-enter{
    opacity: 0;
}
.drop-down-animation-2-enter-active{
    opacity: 1;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 2) ease-in;
}
.drop-down-animation-2-exit{
    opacity: 1;
}
.drop-down-animation-2-exit-active{
    opacity: 0;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 2) ease-in;
}

.drop-down-animation-3-enter{
    opacity: 0;
}
.drop-down-animation-3-enter-active{
    opacity: 1;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 3) ease-in;
}
.drop-down-animation-3-exit{
    opacity: 1;
}
.drop-down-animation-3-exit-active{
    opacity: 0;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 3) ease-in;
}

.drop-down-animation-4-enter{
    opacity: 0;
}
.drop-down-animation-4-enter-active{
    opacity: 1;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 4) ease-in;
}
.drop-down-animation-4-exit{
    opacity: 1;
}
.drop-down-animation-4-exit-active{
    opacity: 0;
    transition:opacity var(--transitionDuration) calc(var(--baseDelay) + var(--transitionGap) * 4) ease-in;
}

@layer components{
    
    .NavBarLeftBtnContainer {
        @apply  relative flex flex-row items-start justify-center
        h-fit w-fit my-auto mx-auto

    }

    .NavBarLeftBtn {
        @apply  relative flex 
        h-fit w-fit my-auto mx-auto text-white
        text-[1rem] leading-[1.2rem]

        py-[0.4rem]
        px-[0.7rem]
        rounded-[0.75rem]

        transition-all duration-200 ease-linear
       hover:text-emerald-400

    }

        

    .DropDownOptionContainer {
        @apply flex flex-col justify-evenly items-start
        absolute 
        w-[200%]
        pt-2
        z-50
        translate-y-[1.6rem]
        translate-x-[24%]
        ;
    }

    .DropDownOption {
        @apply relative flex justify-center items-center bg-emerald-400 rounded-[0.75rem] w-fit mt-[0.35rem]
        text-[0.9rem] leading-[1.15rem]
        
        transition-all duration-[600ms] ease-linear
        hover:bg-emerald-600
        
        hover:duration-100
        hover:text-white

        hover:translate-x-[-3px]
        hover:translate-y-[-4px]
       
      
    }

    .DropDownContent{
        @apply px-[0.8rem]
        py-[0.25rem]
        ;
    }

    .NavBarRightBtn {
        @apply relative flex items-center justify-center 
        my-auto mx-auto bg-white rounded-[0.5rem]
        text-[0.9rem] leading-[1.1rem] font-semibold
        px-[0.5rem] py-[0.2rem]

        transition-all duration-200 ease-linear
        hover:font-bold hover:text-[1rem]
        hover:px-[0.7rem] hover:py-[0.4rem]
        hover:text-teal-50 hover:bg-emerald-600

        ;
    }
  
}
