@tailwind base;
@tailwind components;
@tailwind utilities;

.leftDisplayerTransition-enter {
    opacity: 0;
    /* transform: translate(48vw, 0); */
}

.leftDisplayerTransition-enter-active {
    opacity:1;
    transition: opacity 300ms 100ms ease-out;

    
    /* transform: translate(-48vw, 0);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out; */
}

.leftDisplayerTransition-exit {
    opacity: 1;
    /* transform: translate(12vw, 0);
    transition-duration: 300ms; */
}

.leftDisplayerTransition-exit-active {
    opacity: 0;
    transform: translate(10vw, 0);
    transition: all 150ms 0ms ease-in;
}







.rightDisplayerTransition-enter {
    opacity: 0;
    /* transform: translate(48vw, 0); */
}

.rightDisplayerTransition-enter-active {
    opacity:1;
    transition: opacity 300ms 100ms ease-out;

    
    /* transform: translate(-48vw, 0);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out; */
}

.rightDisplayerTransition-exit {
    opacity: 1;
    /* transform: translate(12vw, 0);
    transition-duration: 300ms; */
}

.rightDisplayerTransition-exit-active {
    opacity: 0;
    transform: translate(-10vw, 0);
    transition: all 150ms 0ms ease-in;

    

}




@layer components {

    .leftDisplayer-leftSide {
        @apply absolute translate-y-[-6vh] bg-yellow-600;
    }

    .rightDisplayer-leftSide {
        @apply absolute translate-y-[-3vh] bg-yellow-600;
    }
    
    .leftDisplayer-rightSide {
        @apply absolute translate-y-[-6vh] bg-yellow-600;
    }

    .rightDisplayer-rightSide {
        @apply absolute translate-y-[-3vh] bg-yellow-600;
    }
}